:root{
  font-family:Helvetica;
  font-size:16px;
}

body {
  margin:0;
/*   align-items:center; */
  height:100vh;
  width:100vw;
  overflow-y:hidden;
}

.outer-container{
  margin: 0;
  display:flex;
  flex-direction:column;
  justify-content:space-around;
  padding: 1rem 2rem 1rem 2rem;
  height:100%;
  width:100%;
  background: #f1f1f1;
}

h1,h2,h3,h4,h5,p{
  margin:0;
}

.text-container{
  width:586px;
  line-height: 1.6;
}

.container{
  display:flex;
  flex-direction:row;
  height:fit-content;
  width:100vw;
  justify-content:center;
}

.section-container{
  flex-direction:column;
  width:fit-content;
  justify-content: space-between;
  height:800px;
  width:900px;
}